.outer-box{
    background-color: whitesmoke;
    border: 1px;
    border-radius: 10px;
    border-style: solid;
    width: 90vw; 
    height: 80vh;
}

.chat-box-feild{
    background-color: white;
    padding: 0 1% 2% 1%;
    width: 100%; 
    height: 90%;
    border-radius: 10px;
}

.chat-box-message{
    padding: 0 1% 2% 1%;
    margin-top: 0vh;
    margin-bottom: 2vh;
    width: 90vW;
    height: 10%;
    border-radius: 10px;
}

.msg{
    width: fit-content;
    border-radius: 10px;
    padding: 0 0.2rem;
}
.msg.in{
    background-color: darkblue;
    background-color: darkblue;
    color:white;
}
.msg.out{
    background-color: darkslategrey;
    color:white;
    
}
.msg.join{
    background-color: crimson;
    color:white;
}

.muted{
    color:lightgrey;
    font-size: 0.9em;
}